:root {
  --bg-primary: #ff0;
  --bg-1: #1d0803;
  --bg-2: #fff;
  --bg-3: #808080;
  --fg-1: #fff;
}
.bg-1 {
  background-color: var(--bg-1);
}
.bg-1-before {
  position: relative;
}
.bg-1-before::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--bg-1);
}
.bg-1-after {
  position: relative;
}
.bg-1-after::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--bg-1);
}
.bg-2 {
  background-color: var(--bg-2);
}
.bg-2-before {
  position: relative;
}
.bg-2-before::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--bg-2);
}
.bg-2-after {
  position: relative;
}
.bg-2-after::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--bg-2);
}
.bg-3 {
  background-color: var(--bg-3);
}
.bg-3-before {
  position: relative;
}
.bg-3-before::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--bg-3);
}
.bg-3-after {
  position: relative;
}
.bg-3-after::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--bg-3);
}
.bg-4 {
  background-color: var(--bg-4);
}
.bg-4-before {
  position: relative;
}
.bg-4-before::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--bg-4);
}
.bg-4-after {
  position: relative;
}
.bg-4-after::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--bg-4);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--fg-1);
}
h1 span {
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.4em;
}
.break {
  width: 100%;
}
div {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--bg-1);
}
#scroller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto hidden;
}
main {
  margin: auto;
  min-width: max-content;
  overflow: hidden;
}
.panel {
  padding: 6vh;
  background-color: var(--bg-2);
  display: flex;
}
.charts-css.absolute {
  position: absolute !important;
  top: -10vh;
  bottom: -10vh;
  right: 20vh;
  left: unset;
  width: 150vh !important;
  height: unset !important;
  filter: blur(50px);
}
.charts-css.absolute td {
  --line-size: 10vh;
  margin-top: auto;
  animation: chartScaleUp 4s 3s backwards !important;
}
.charts-css.absolute tr:nth-child(1) > td {
  animation-delay: 4.5s !important;
}
.charts-css.absolute tr:nth-child(2) > td {
  animation-delay: 5s !important;
}
.charts-css.absolute tr:nth-child(3) > td {
  animation-delay: 5.5s !important;
}
.charts-css.absolute tr:nth-child(4) > td {
  animation-delay: 6s !important;
}
.charts-css.absolute tr:nth-child(5) > td {
  animation-delay: 6.5s !important;
}
.charts-css.absolute tr:nth-child(6) > td {
  animation-delay: 7s !important;
}
.charts-css.absolute tr:nth-child(7) > td {
  animation-delay: 7.5s !important;
}
.absolute {
  position: absolute;
  inset: 0;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullscreen {
  width: 100%;
  min-height: 100vh;
}
.flex-grow-2 {
  flex-grow: 2;
}
.w-50 {
  width: 50%;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
#home {
  position: relative;
  padding: 8vh 8vh;
  box-sizing: border-box;
  align-content: center;
  gap: 10vh 15vh;
  background-color: var(--bg-1);
  animation: gapIn 12s backwards 2s, gapIn 24s 14s infinite alternate-reverse;
  max-width: 140vh;
  min-width: 140vh;
  margin: auto;
}
#home h1 {
  font-size: 20vh;
  text-align: center;
  line-height: 0.8em;
  pointer-events: none;
  z-index: 0;
  position: fixed;
  inset: unset;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: rgba(255,255,255,0.5);
  animation: slideUp 2s 4s backwards;
  transition: transform 1s ease-out, font-size 0.2s, filter 1s;
}
#home h1:hover {
  font-size: 21vh;
}
#home h1::before {
  content: "KEEPING\a APART";
  inset: 0;
  position: absolute;
  white-space: pre;
  transition: transform 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#home h1::after {
  content: "";
  position: absolute;
  inset: -100vw;
  background-image: url("grid.svg");
  background-size: 50px 50px;
  opacity: 0.2;
  z-index: 9999;
}
#home > .panel {
  position: relative;
  background: none;
  justify-content: center;
  align-items: center;
  width: 25vh;
  height: 20vh;
  min-height: 20vh;
  z-index: 1;
  animation: bounce 2s alternate both infinite;
  transition: filter 1s;
}
#home > .panel > a {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: 100vh;
  font-size: 10vh;
  color: var(--fg-1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  z-index: 3;
  opacity: 0.1;
  transition: opacity 0.4s, transform 0.4s;
}
#home > .panel > a svg {
  width: 70%;
  transform: rotate(5deg);
  animation: slideUp 1s backwards cubic-bezier(0, 1.4, 1, 1);
}
#home > .panel > a:hover,
#home > .panel > a:focus {
  opacity: 0;
  transform: scale(0.95);
}
#home > .panel .content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1vh;
  right: 1vh;
  top: 1vh;
  bottom: 1vh;
  border-radius: 999vh;
  opacity: 0;
  transform: scale(0.98);
  text-align: center;
  z-index: 2;
  font-size: 2em;
  font-size: 3.5vh;
  line-height: 1.2;
  letter-spacing: 0.055em;
  font-weight: 700;
  padding: 10vh;
  transition: opacity 0.4s, transform 1s, background-color 0.2s;
}
#home > .panel .content p {
  opacity: 0.8;
  font-weight: 400;
}
#home > .panel > a:hover ~ .content,
#home > .panel > a:focus ~ .content,
#home > .panel .content:hover {
  opacity: 1 !important;
  transform: none;
}
#home > .panel > a:hover ~ .content::before,
#home > .panel > a:focus ~ .content::before,
#home > .panel .content:hover::before {
  opacity: 1 !important;
}
#home > .panel::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--bg-1);
  border: 0.2vh solid #00f;
  border-radius: 999vh;
  pointer-events: none;
  animation: blurIn 12s backwards 1s, blur 24s 13s infinite alternate-reverse;
}
#home > .panel:first-of-type,
#home > .panel:nth-of-type(4) {
  z-index: 2;
}
#home > .panel:nth-of-type(2) .content,
#home > .panel:nth-of-type(3) .content {
  font-size: 2.5vh !important;
  padding: 10vh 4vh;
}
#home > .panel:first-of-type::before {
  border-color: #f00;
}
#home > .panel:last-of-type::before {
  border-color: #008000;
}
#home > .panel:last-of-type,
#home > .panel:first-of-type {
  flex-grow: 1.4;
}
#home > .panel:nth-child(1) {
  animation-delay: 1s;
}
#home > .panel:nth-child(1) svg {
  animation-delay: 5.2s;
}
#home > .panel:nth-child(2) {
  animation-delay: 2s;
}
#home > .panel:nth-child(2) svg {
  animation-delay: 5.4s;
}
#home > .panel:nth-child(3) {
  animation-delay: 3s;
}
#home > .panel:nth-child(3) svg {
  animation-delay: 5.6s;
}
#home > .panel:nth-child(4) {
  animation-delay: 4s;
}
#home > .panel:nth-child(4) svg {
  animation-delay: 5.8s;
}
#home > .panel:nth-child(5) {
  animation-delay: 5s;
}
#home > .panel:nth-child(5) svg {
  animation-delay: 6s;
}
#home > .panel::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#home > .panel:nth-child(1)::after {
  bottom: 0;
  right: 0;
}
#home > .panel:nth-child(2)::after {
  bottom: 0;
  left: 0;
}
#home > .panel:nth-child(4)::after {
  top: 0;
  right: 0;
}
#home > .panel:nth-child(5)::after {
  top: 0;
  left: 0;
}
#home > .panel:hover:nth-child(1) ~ h1,
#home > .panel:focus-within:nth-child(1) ~ h1,
#home > .panel:hover:nth-child(1) ~ h1::before,
#home > .panel:focus-within:nth-child(1) ~ h1::before {
  transform: translate(-1vh, -1vh);
}
#home > .panel:hover:nth-child(2) ~ h1,
#home > .panel:focus-within:nth-child(2) ~ h1,
#home > .panel:hover:nth-child(2) ~ h1::before,
#home > .panel:focus-within:nth-child(2) ~ h1::before {
  transform: translate(1vh, -1vh);
}
#home > .panel:hover:nth-child(4) ~ h1,
#home > .panel:focus-within:nth-child(4) ~ h1,
#home > .panel:hover:nth-child(4) ~ h1::before,
#home > .panel:focus-within:nth-child(4) ~ h1::before {
  transform: translate(-1vh, 1vh);
}
#home > .panel:hover:nth-child(5) ~ h1,
#home > .panel:focus-within:nth-child(5) ~ h1,
#home > .panel:hover:nth-child(5) ~ h1::before,
#home > .panel:focus-within:nth-child(5) ~ h1::before {
  transform: translate(1vh, 1vh);
}
footer {
  position: absolute;
  bottom: 2vh;
  opacity: 0.3;
  animation: slideUp 3s 3s backwards;
  z-index: 100;
}
#watermark {
  display: inline-flex;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
  z-index: 100;
}
#watermark::before {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  height: 0;
  border-radius: 100px;
  width: 0;
  opacity: 0;
  background-color: currentColor;
  transition: width 0.5s, height 0.3s, opacity 0.3s;
}
#watermark span {
  display: inline-block;
  max-width: 0;
  opacity: 0.5;
  overflow: hidden;
  transition: max-width 0.2s 1s, opacity 0.2s 1s, margin 0.4s 1s;
}
#watermark span:nth-child(1) {
  margin-right: 0.2em;
}
#watermark span:nth-child(4) {
  opacity: 1;
  max-width: unset;
}
#watermark:hover span,
#watermark:focus span {
  transition: max-width 0.45s, opacity 0.2s, margin 0.7s;
}
#watermark:hover span:nth-child(1),
#watermark:focus span:nth-child(1),
#watermark:hover span:nth-child(3),
#watermark:focus span:nth-child(3) {
  margin-left: 0.2em;
  max-width: 7em;
  opacity: 1;
}
#watermark:hover span:nth-child(2),
#watermark:focus span:nth-child(2) {
  max-width: 15em;
  opacity: 1;
}
#watermark:hover span:nth-child(4),
#watermark:focus span:nth-child(4) {
  opacity: 0;
}
#watermark:hover::before,
#watermark:focus::before {
  width: 100%;
  height: 2px;
  opacity: 1;
}
@media only screen and (max-width: 1000px) {
  #home h1 {
    font-size: 20vw;
  }
}
@-moz-keyframes chartScaleUp {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes chartScaleUp {
  from {
    opacity: 0;
  }
}
@-o-keyframes chartScaleUp {
  from {
    opacity: 0;
  }
}
@keyframes chartScaleUp {
  from {
    opacity: 0;
  }
}
@-moz-keyframes blurIn {
  from {
    filter: blur(40px) opacity(0.3);
    transform: scale(2);
    border-width: 20vh;
  }
}
@-webkit-keyframes blurIn {
  from {
    filter: blur(40px) opacity(0.3);
    transform: scale(2);
    border-width: 20vh;
  }
}
@-o-keyframes blurIn {
  from {
    filter: blur(40px) opacity(0.3);
    transform: scale(2);
    border-width: 20vh;
  }
}
@keyframes blurIn {
  from {
    filter: blur(40px) opacity(0.3);
    transform: scale(2);
    border-width: 20vh;
  }
}
@-moz-keyframes slideUp {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
}
@-o-keyframes slideUp {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
}
@-moz-keyframes gapIn {
  from {
    gap: 0;
    filter: blur(0px) !important;
  }
}
@-webkit-keyframes gapIn {
  from {
    gap: 0;
    filter: blur(0px) !important;
  }
}
@-o-keyframes gapIn {
  from {
    gap: 0;
    filter: blur(0px) !important;
  }
}
@keyframes gapIn {
  from {
    gap: 0;
    filter: blur(0px) !important;
  }
}
@-moz-keyframes bounce {
  from {
    transform: translateY(-2%);
  }
  from {
    transform: translateY(2%);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(-2%);
  }
  from {
    transform: translateY(2%);
  }
}
@-o-keyframes bounce {
  from {
    transform: translateY(-2%);
  }
  from {
    transform: translateY(2%);
  }
}
@keyframes bounce {
  from {
    transform: translateY(-2%);
  }
  from {
    transform: translateY(2%);
  }
}
@-moz-keyframes blur {
  0% {
    filter: blur(20px) opacity(0.5);
    border-width: 10vh;
  }
  40% {
    filter: blur(0px);
    border-width: 0.2vh;
  }
  100% {
    filter: blur(0px);
    border-width: 0.2vh;
  }
}
@-webkit-keyframes blur {
  0% {
    filter: blur(20px) opacity(0.5);
    border-width: 10vh;
  }
  40% {
    filter: blur(0px);
    border-width: 0.2vh;
  }
  100% {
    filter: blur(0px);
    border-width: 0.2vh;
  }
}
@-o-keyframes blur {
  0% {
    filter: blur(20px) opacity(0.5);
    border-width: 10vh;
  }
  40% {
    filter: blur(0px);
    border-width: 0.2vh;
  }
  100% {
    filter: blur(0px);
    border-width: 0.2vh;
  }
}
@keyframes blur {
  0% {
    filter: blur(20px) opacity(0.5);
    border-width: 10vh;
  }
  40% {
    filter: blur(0px);
    border-width: 0.2vh;
  }
  100% {
    filter: blur(0px);
    border-width: 0.2vh;
  }
}
